h1,
p {
  font-family: Lato;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background: dodgerblue;
  border: none;
  cursor: pointer;
  color: #fff;
}
.todo-btns {
  width: 60px;
  height: 20px;
  border-radius: 50px;
  background: dodgerblue;
  border: none;
  cursor: pointer;
  color: #fff;
}
